.feature-card {
    display: flex;
    align-items: flex-start;
    gap: 18px;
}

.feature-card img {
    width: 55px;
}

.feature-card h3 {
    margin-bottom: 8px;
}

.feature-card p {
    color: #bbb;
    line-height: 1.7;
}