.hero {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    padding: 0 80px;
    background: #111111;
    overflow: hidden;
}

.hero-text {
    flex: 1 1 450px;
    max-width: 550px;
}

.welcome {
    color: #00e5ff;
    font-size: 0.9rem;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.hero-text h1 {
    font-size: clamp(3rem, 6vw, 5rem);
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero-text span {
    color: #00e5ff;
}

.description {
    max-width: 480px;
    color: #b0b0b0;
    line-height: 1.8;
    font-weight: 900;
    font-size: large;
}

.description span {
    color: #00e5ff;
}

.hero-image {
    flex: 1 1 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.hero-image img {
    width: 100%;
    max-width: 480px;
    height: auto;
    object-fit: contain;
    border-radius: 40px;
    box-shadow:  26px 18px 18px -14px rgba(14,248,209,4);

}

@media (max-width: 1023px){
    .navbar{
        padding: 20px 40px;
    }

    .nav-links{
        gap: 20px;
    }

    .logo h2{
        font-size: 1.7rem;
    }

    .nav-links a{
        font-size: 0.95rem;
    }
}

@media (max-width: 767px){
    .navbar{
        padding: 20px;
        flex-direction:column;
        gap: 20px;
        text-align: center;

    }

    .logo h2{
        font-size: 1.5rem;
    }

    .logo p{
        font-size: 0.65rem;
    }

    .nav-links{
        flex-wrap: wrap;
        justify-content: center;
        gap:15px
    }

    .nav-links a{
        font-size: 0.9rem;
    }

    .search-icon{
        font-size: 1.1rem;
    }
}

@media (max-width: 200px){
    .navbar{
        padding: 15px;
    }

    .logo h2{
        font-size: 1.3rem;
    }

    .logo p{
        font-size: 0.6rem;
    }

    .nav-links{
        flex-direction: column;
        gap: 12px;
    }

    .nav-links a{
        font-size: 0.85rem;
    }

    .search-icon{
        font-size: 1rem;
    }
}