.hero {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    padding: 0 80px;
    background: #111111;
    overflow: hidden;
}

.hero-text {
    flex: 1 1 450px;
    max-width: 550px;
}

.welcome {
    color: #00e5ff;
    font-size: 0.9rem;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.hero-text h1 {
    font-size: clamp(3rem, 6vw, 5rem);
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero-text span {
    color: #00e5ff;
}

.description {
    max-width: 480px;
    color: #b0b0b0;
    line-height: 1.8;
    font-weight: 900;
    font-size: large;
}

.description span {
    color: #00e5ff;
}

.hero-image {
    flex: 1 1 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
    width: 100%;
    max-width: 480px;
    height: auto;
    object-fit: contain;
    border-radius: 40px;
}