.about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    margin-top: 1rem;
    padding-inline: clamp(1rem, 5vw, 5rem);
     background: #111111;
}


.about-image{
    width: 45%;
    filter: blur(5px);
}


.about-text{
    flex: 1 1 400px;
    font-weight: 900;
}


.about-image img{
    width: 100%;
    height: auto;
    display: block;
    
}

.about-label{
    color: #00e5ff;
    font-size: 0.9rem;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.about-text h2{
    font-size: clamp(2rem, 5vw, 3rem);
    margin-bottom: 20px;
    line-height: 1.2;
}

.about-text span{
    color: #00e5ff;

}


/* about-desciption{
    color: #b0b0b0;
    line-height: 1.8;
    margin-bottom: 30px;
} */

.about-description{
    color: #b0b0b0;
    line-height: 1.8;
    margin-bottom: 30px;
    
}


.feature-list{
    display: flex;
    flex-direction: column;
    gap: 25px;
}