.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    gap: 60px;
}

.about-image{
    width: 45%;
}

.about-image{
    width: 45%;
}

.about-image img{
    width: 100%;
}

.about-text{
    width: 50%;
}

.about-label{
    color: #00e5ff;
    margin-bottom: 15px;
}

.about-text h2{
    font-size: 3rem;
    margin-bottom: 20px;
}

.about-text span{
    color: #00e5ff;
}

about-desciption{
    color: #b0b0b0;
    line-height: 1.8;
    margin-bottom: 30px;
}

.feature-list{
    display: flex;
    flex-direction: column;
    gap:25px;
}



@media(max-width:992px){

.about{

flex-direction:column;

padding:60px 40px;

}

.about-image,

.about-text{

width:100%;

}

}

@media(max-width:768px){

.about{

padding:50px 20px;

text-align:center;

}

.feature-list{

flex-direction:column;

}

}