.navbar{
    width: 100%;
    padding: 25px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111111;
}

.logo h2{
    color: #00e5ff;
    font-size: 2rem;
}

.logo p {
    color: white;
    font-size: 0.7rem;
    margin-top: 3px;
}

.nav-links {
    display: flex;
    gap: 35px;
    font-size: 1.5rem;
}

.nav-links a {
    color: #00eeff;
    font-size: 1.6rem;
    transform: transition 0.3s;
}

.nav-links a:hover{
    color: #00e5ff;
}

.search-icon {
    color: #00e5ff;
    font-size: 1.2rem;
    cursor: pointer;
}

