.statistics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 80px;
}


@media(max-width:992px){

.statistics{

grid-template-columns:repeat(2,1fr);

padding:60px 40px;

}

}


@media(max-width:768px){

.statistics{

grid-template-columns:1fr;

padding:50px 20px;

}

}